doctype html 
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title= `${title}`
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet' href='/css/bootstrap.min.css')
      link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')

  body
    main.main
    .error
      .error__title
        h1.heading-secondary.heading-secondary--error Something went wrong!
      .error__title
        h4.heading-secondary.heading-secondary--error= HTTPMessage  
      .error__msg= msg
      .error__msg
        - if(!HTTPMessage.includes('401'))
          button.btn.btn-primary(onclick='history.back()') Go Back
          br
        - if(HTTPMessage.includes('401'))
            button.btn.btn-primary(onclick='location.assign("/login")') Go to Login
            br
        - if(user && !HTTPMessage.includes('401'))
            button.btn.btn-primary(onclick='location.assign("/home")') Go to Home