doctype html
html
  head
    title Hotels Hero
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='css/styles.css')
  
  body
    .banner
      .container
        .row
          .col-md-8
            h1.header-1.mb-4.animate__animated.animate__fadeIn
              | Welcome to Hotels Hero
            h2.header-2.mb-2.animate__animated.animate__fadeInDown.animate__delay-1s
              | The Best Hotel Reservation Systems in The Middle East
          .col-md-4
            .form-apply.animate__animated.animate__fadeIn.animate__delay-1s
              a(href="/login")
                input.btn.btn-login.w-100.btn-block(type='submit' value='Login')
              a(href="/register")
                input.btn.btn-login.w-100.btn-block(type='submit' value='Register')
    script(src='/bundle.js')
