<div class="container">
  <div class="row align-items-start my-4">
    <div class="col-md-2">
      <h4 class="header-2">
        Related Hotels
      </h4>
      &nbsp;
      <!--
                    
                    -->
    </div>
    <div class="col-md-10 my-4">
      <h3 class="header-3 my-4 text-center">
        4 Season
      </h3>
      <div class="slideshow-container mb-5">

        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
          <img src="Hotels Images\4 Season\1200px-Cairo_-_Garden_City_-_Four_Seasons_Hotel_from_the_Nile.jpg"
            class="animate__animated animate__fadeIn" style="width:100%; height: 450px;">
          <div class="texts"></div>
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
          <img src="Hotels Images\4 Season\241890691.jpg" class="animate__animated animate__fadeIn"
            style="width:100%; height: 450px;">
          <div class="texts"></div>
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
          <img src="Hotels Images\4 Season\44177210.jpg" class="animate__animated animate__fadeIn"
            style="width:100%; height: 450px;">
          <div class="texts"></div>
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 6</div>
          <img src="Hotels Images\4 Season\81c307f8daa6a6e4fc01b7798d3a4879.jpg"
            class="animate__animated animate__fadeIn" style="width:100%; height: 450px;">
          <div class="texts"></div>
        </div>

        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
          <img src="Hotels Images\4 Season\CAF_513_original.jpg" class="animate__animated animate__fadeIn"
            style="width:100%; height: 450px;">
          <div class="texts"></div>
        </div>

        <div class="mySlides">
          <div class="numbertext">6 / 6</div>
          <img src="Hotels Images\4 Season\pool.jpg" class="animate__animated animate__fadeIn"
            style="width:100%; height: 450px;">
          <div class="texts"></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div class="mb-5" style="text-align:center">

        <span class="dot" onclick="currentSlide(1)"></span>

        <span class="dot" onclick="currentSlide(2)"></span>

        <span class="dot" onclick="currentSlide(3)"></span>

        <span class="dot" onclick="currentSlide(4)"></span>

        <span class="dot" onclick="currentSlide(5)"></span>

        <span class="dot" onclick="currentSlide(6)"></span>

      </div>
      <div class="row">
        <div class="col-md-6">
          <h2 class="header-2">
            Description
          </h2>
          <p class="text">
            A hotel is an establishment that provides paid lodging on a short-term basis. Facilities provided inside a
            hotel room may range from a modest-quality mattress in a small room to large suites with bigger,
            higher-quality beds, a dresser, a refrigerator and other kitchen facilities, upholstered chairs, a flat
            screen television, and en-suite bathrooms. Small, lower-priced hotels may offer only the most basic guest
            services and facilities. Larger, higher-priced hotels may provide additional guests.
          </p>
        </div>
        <div class="col-md-6">
          <div class="desc-items-container">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="value main-color" style="margin-right: 45px;">City</span>
              <span>Cairo</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="value main-color" style="margin-right: 45px;">Hotel Rating</span>
              <div>

                <span class="fas fa-star"></span>

                <span class="fas fa-star"></span>

                <span class="fas fa-star"></span>

                <span class="fas fa-star"></span>

                <span class="fas fa-star"></span>

              </div>

            </div>


            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="value main-color" style="margin-right: 45px;">Price Per Night</span>
              <span>4131 EGP</span>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="value main-color" style="margin-right: 45px;">Available Rooms</span>
              <span>10</span>
            </div>



            <button type="button" class="btn btn-login w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Make a Reservation
            </button>

          </div>
        </div>
      </div>
      <div class="row my-4">
        <h2 class="header-2">
          Location
        </h2>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6908.043351181974!2d31.2250784!3d30.036236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd7f50b4221f71eb0!2sFour%20Seasons%20Hotel%20Cairo%20at%20Nile%20Plaza!5e0!3m2!1sen!2seg!4v1610649811145!5m2!1sen!2seg"
          width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>

    <a class="d-none" href="https://www.google.com/maps/search/4 Season+Cairo" target="_blank">
      <img src="https://developers.google.com/maps/images/maps-icon.svg" style="width:40px;">
    </a>
  </div>
</div>